@import url('http://fonts.googleapis.com/css?family=Dosis:300,600');
@font-face {
    font-family: JELLYBELLY;
    src: url("font/JELLYBELLY.TTF");
}

@font-face {
    font-family: Punktype;
    src: url("font/Punktype.ttf");
}


body{
    margin: 0;
    background-image:url("img/web-design-concept-with-drawings_1134-77.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 77%;

}



main{
    width: 100%;
    font-family: 'Dosis', serif;
    position: relative;

}

.box:before, .menu, .caption {
    position: absolute;
}

.box {
    position: relative;
    box-sizing: border-box;
    width: 900px;
    height: 577px;
    right: 700px;
    margin: 0 auto;
    padding-left: 0;
    overflow: hidden;

    transition: all 0.7s;
}
.caption {
    background: linear-gradient(
            rgba(246, 185, 174, 0.7),
            rgba(183, 248, 255, 0.7));
    height: 100%;
    padding: 15px 20px 0 0;
}
ul {
    list-style: none;
    margin: 0 9px;
    padding: 1px;
    text-align: right;
}

ul li {
    margin: 0;
    padding-left: 13px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
ul li a {
    margin-top: 0;
    color: #000;
    text-decoration: none;
    padding-left: 0;
}


ul li a {
    transition: all 0.3s;
}
ul li a:hover {
    padding-left: 5px;
    font-weight: bold;
}



.box:before {
    content: 'menu';
    text-transform: uppercase;
    font-family: JELLYBELLY,serif;
    color: rgba(244, 109, 125, 0.80);
    text-shadow: black 0.1em 0.1em 0.2em;
    top: 13px;
    right: 220px;
    padding: 10px;
    background: linear-gradient(
            rgba(246, 245, 243, 0.7),
            rgba(246, 245, 243, 0.7));
    text-shadow: black 0.2em 0.2em 0.2em;
    letter-spacing: 2px;
    font-family: JELLYBELLY;
    font-size: 4rem;
    font-weight: 600;
    transition: all 0.45s;

}
.box:hover {
    padding-left: 280px;
}
.box:hover:before {
    right: -300px;
}
.caption{
    /*background-color: aquamarine;*/
    height: 600px;
    padding-bottom: 30%;
}




h1 a{
    display: block;
    text-decoration: none;
    font-family: JELLYBELLY, serif;
    position: relative;
    padding: 10px;
    line-height: 50px;
    margin-left: 60px;
    margin-bottom: 100px;
    top: 40px;
    font-size: 55px;
    text-transform: uppercase;
    color: rgba(171, 212, 244, 0.79);
    text-shadow: black 0.2em 0.2em 0.2em;

}


/*Grow Rotate*/


/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;

}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
p{
    font-family: Punktype;
    width: 62px;
    position: fixed;
    left: 306px;
    font-size: 220px;
    /*border: double;*/
    width: 500px;
    padding: 31px;
    /*border-width: 40px;*/
    /*border-style: double;*/
    /*border-radius: 50%;*/
    bottom: -110px;
    text-transform: uppercase;
    color: rgba(244, 109, 125, 0.80);
    text-shadow: black 0.2em 0.2em 0.2em;

}
nav ul li{

    display: inline-block;
    padding: 10px;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 10px;



}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: JELLYBELLY,serif;
    font-size: 3em;
    color: rgba(244, 109, 125, 0.80);
    text-shadow: black 0.2em 0.2em 0.2em;


}


/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
}
33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);

}
49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
}
66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
}
83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
}
100% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
}
@keyframes hvr-wobble-top {

    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {

        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
    }
}
.hvr-wobble-top {
    display: inline-block;

    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;

    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media screen and (max-width: 1600px ) {
    main {
        width: 100%;
        height: 610px;
    }
    .box:before {
        margin-right: -69%;
    }
    .caption{
    margin: 0 90px;
}
    .box:before, .menu, .caption {
        width: 64%;
    }

nav ul li {
        display: block;
        padding: 10px;
        line-height: 30px;
        margin-left: 131px;
        margin-top: 10px;
    }
    nav ul li a, h1{
        font-size: 3em;
    }
    .hvr-pulse-grow {
        display: block;
    }

    h1 a{
        margin-left: 114px;

    }
}

@media screen and (max-width: 1024px ) {

    main {
        width: 100%;
        height: 610px;
    }
    .box:before {
        right: -20%;
        width: 61%;
    }
    p {
        font-family: Punktype;

        position: fixed;
        left: 12%;
        top: -12%;
        font-size: 12rem;
        width: 41%;
        padding: 7%;
        border: hidden;
        bottom: -110px;
        text-transform: uppercase;
        color: rgba(244, 109, 125, 0.80);
        text-shadow: black 0.2em 0.2em 0.2em;
    }

    .box:before, .menu, .caption {
        position: absolute;
        margin-left: 9%;


    }

    .box:before{
        margin-right: -18%;
    }
}

@media screen and (max-width: 960px){
    .box:before {
        margin-right: -22%;
    }
    .box:hover {
        padding-left: 411px;
    }
    p{
        font-size: 9rem;
    }
     ul li a{
         display: flex;
         font-size: 2em;
     }
    nav ul li {
        display: block;
        padding: 10px;
        line-height: 30px;
        margin-left: 131px;
        margin-top: 10px;
    }

    nav ul li a, h1{
        font-size: 2em;
    }
    .hvr-pulse-grow {
        display: block;
    }

    h1 a{
        margin-left: 41%;
        font-size: 44px;
    }

}
@media screen and (max-width: 640px){

    p{
        font-size: 8rem;
        top:0;
        left: 7%;
    }


}

@media screen and (max-width: 480px){
    p{
        font-size: 7rem;
    }
}
@media screen and (max-width: 320px){
    p{
        font-size: 5rem;
        top: 8%;
    }
}



